.container {
  padding: 0 2rem;
}

.wrapper {
  margin-top: 220px;

  width: 90%;
  max-width: 1140px;
  margin: 60px auto 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 50px;
}