.container {
  height: 500px;
  width: 600px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formWrapper {
  // width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // gap: 10px;

  margin: 15px;
}

.button {
  background: #283559;
  color: #fff;

  border-radius: 40px;
  padding: 0 20px;
  height: 4.4rem;

  border: none;
}

.contentWrapper {
  margin: 20px 15px;

  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  display: flex;

  p + p {
    margin-left: 10px;
  }

  span {
    margin-left: auto;
  }

  &:first-child {
    span {
      color: green;
    }
  }

  padding: 15px;

  border-bottom: 1px solid #b2b2b2;
}

.error {
  background-color: #283559;

  margin-top: 40px;

  height: 300px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  p {
    margin-top: 20px;

    padding: 0 30px;

    text-align: center;

    color: white;
    font-weight: 600;
    line-height: 30px;
  }
}
